$base0: #496156;
$base1: #A6A88C;
$base2: #FCE8CB;

$primary: #9A4055;
$secondary: #017871;

$negative: $primary;
$positive: $secondary;

@mixin invert() {
  $old_base0: $base0;
  $base0: $base2 !global;
  $base2: $old_base0 !global;
}

//@include invert();

*, *:before, *:after {
  box-sizing: border-box;
}

body > header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 3rem;
  h1 {
    font-size: 2rem;
    margin: 0;
  }
  .actions { text-align: right; }
  .dialog { align-self: center }
}

html, body {
  margin: 0;
  padding: 1em;
  height: 100%;
}

html {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', Helvetica, serif;
  background-color: $base2;
  color: $base0;
}

button {
  color: $base0;
  font-weight: bold;
  background-color: $base1;
  border: none;
  border-radius: .25em;
  padding: .5em;
  cursor: pointer;
  box-shadow: 2px 2px darken($base1, 10%);
  transition: ease-out 150ms background-color;
  &:focus {
    outline: none;
  }
  &:active {
    color: $primary;
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 1px 1px darken($base1, 10%);
  }
}

.restart {
  font-size: 1rem;
}

#grid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  border-radius: .25em;

  background-color: $base1;
  padding: .5em;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  flex-grow: 1;
  margin: .5% 0;
}

.tile {
  position: relative;
  cursor: pointer;
  flex-basis: 10px;
  flex-grow: 1;
  margin: 0 .5%;
  flex-shrink: 0;
  background-color: $base0;
  box-shadow: 2px 2px 3px rgba(0,0,0, .6);
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: ease-out 700ms background-color,
    ease-out 150ms box-shadow,
    ease 150ms transform;
  &.revealed {
    transform: perspective(50vw);
    cursor: default;
    box-shadow: none;
    background-color: $secondary;
  }
  &.revealed.mine {
    background-color: $negative;
    box-shadow: 0 0 15px transparentize($negative, .3);
  }
}

.tile:before {
  display: block;
  content: '';
  padding-top: 100%;
}

.tile .result {
  font-size: 1em;
  position: absolute;
  padding-top: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 0;
  color: transparent;
  text-align: center;
}

.tile.revealed.mine .result {
  color: transparent;
}
.tile.revealed .result {
  color: $base2;
}

.dialog {
  display: none;
  text-align: center;
  .message {
    font-size: 2em;
    color: $primary;
  }
}
.over .dialog {
  display: block;
}

